body {
    background-color: #001125;
    /* Fundo escuro */
    color: rgba(255, 0, 0, 0.212);
    /* Texto branco */
    height: 100vh;
    /* Altura total da viewport */
    display: flex;
    /* Flexbox para centralização */
    flex-direction: column;
    /* Direção da coluna */
    align-items: center;
    /* Centraliza horizontalmente */
}

.custom-list {
    background-color: #002952;
    /* Fundo escuro */
    color: white;
    /* Texto claro */
    max-width: 720px;
    /* Largura máxima da lista */
    margin: auto;
    /* Centraliza a lista */
    border-radius: 0.25rem;
    /* Bordas arredondadas */
}

/* Estilo para a imagem fixa no topo */
.fixed-top-image {
    position: fixed;
    /* Faz a imagem ficar fixa */
    top: 0;
    /* Posiciona no topo */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para que a imagem fique centralizada */
    z-index: 1000;
    /* Garante que a imagem fique acima de outros elementos */
}

.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
}

/* Reduzindo o espaço entre as colunas */
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutters > [class*="col-"] {
    padding-left: 1px;
    padding-right: 1px;
}

/* Estilo para destacar a imagem selecionada */
.img-button.selected img {
    border: 3px solid #007bff; /* Adiciona uma borda azul na imagem selecionada */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Adiciona uma sombra ao redor da imagem */
}

/* Adiciona um efeito suave ao passar o mouse sobre os botões */
.img-button:hover img {
    transform: scale(1.1); /* Aumenta um pouco o tamanho da imagem */
    transition: transform 0.3s ease; /* Transição suave */
}

/* Botões de ação */
.btn {
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px); /* Dá um pequeno efeito de elevação ao passar o mouse */
}

.btn:active {
    transform: translateY(0); /* Retorna ao estado normal ao clicar */
}
