<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo do Dadinho</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom_styles.css">
</head>

<body>

    <div id="div_titulo_img" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <img id="titulo_img" src="../static/imagens/titulo.png" alt="titulo_dadinho" width="670px" height="400px"
            style="display: block; width: 45%; height: auto;">
    </div>

    <div class="mt-4 container-fluid align-items-center">

        <!-- TELA JOGADORES INICIO (0) -->
        <div id="tela_jogadores" class="tela_jogadores container-fluid text-center">

            <div>
                <input type="text" id="apelido" class="container form-control text-center mx-auto" style="width: 200px;"
                    onkeydown="verificr_enter(event, 'button')" placeholder="Escreva seu nome..." maxlength="10">
                <button id="botapel" class="btn btn-primary mt-2" onclick="enviar_apelido()" disabled>Pronto</button>
            </div>
            <div class="container my-4 p-3 mb-2 bg-black text-white border border-light rounded" id="lista_de_jogadores"
                style="--bs-bg-opacity: .3; width: 400px;">
                <small>Aguardando jogadores...</small>
            </div>
            <div class="center-button mt-4">
                <button id="iniciar_jogo" class="btn btn-success" onclick="iniciar_partida()" style="display: none;"
                    disabled>Iniciar partida
                </button>
            </div>
        </div>
        <!-- TELA JOGADORES FIM -->
        <!-- TELA JOGAR DADOS INICIO (1) -->
        <div id="tela_jogar_dados" class="tela_jogar_dados container-fluid text-center" style="display: none;">

            <!-- <div class="container my-4 p-3 mb-2 bg-black text-white border border-light rounded"
                style="--bs-bg-opacity: .3;">


                <button id="dadobotao" class="btn btn-primary mt-2" onclick="jogar_dados()">Jogar dados</button>
                <div class="container mt-5">
                    <div class="row d-flex justify-content-evenly">
                        <div class="col-4 text-center">
                            <img id="dado1" src="../static/imagens/dado/1.png" class="img-fluid" alt="Imagem 1"
                                width="100" height="100">
                        </div>
                        <div class="col-4 text-center">
                            <img id="dado2" src="../static/imagens/dado/6.png" class="img-fluid" alt="Imagem 2"
                                width="100" height="100">
                        </div>
                        <div class="col-4 text-center">
                            <img id="dado3" src="../static/imagens/dado/3.png" class="img-fluid" alt="Imagem 3"
                                width="100" height="100">
                        </div>
                        <div class="col-4 text-center">
                            <img id="dado3" src="../static/imagens/dado/2.png" class="img-fluid" alt="Imagem 3"
                                width="100" height="100">
                        </div>
                        <div class="col-4 text-center">
                            <img id="dado3" src="../static/imagens/dado/2.png" class="img-fluid" alt="Imagem 3"
                                width="100" height="100">
                        </div>
                        <div class="col-4 text-center">
                            <img id="dado3" src="../static/imagens/dado/2.png" class="img-fluid" alt="Imagem 3"
                                width="100" height="100">
                        </div>
                    </div>
                </div>
                <audio id="rollSound" src="../static/sounds/dice-roll.mp3"></audio>

            </div> -->
        </div>
    </div>
    <!-- TELA JOGAR DADOS FIM -->
    <!-- TELA PARTIDA INICIO (2) -->
    <div id="tela_partida" class="tela_partida container-fluid text-center" style="display: none;">

        <div
            class="d-flex justify-content-between mt-2 bg-info bg-opacity-50 border border-primary border-start-0 rounded-end">

            <div id="meus_dados"
                class="col-5 d-flex justify-content-around align-items-center text-primary-emphasis bg-dark border border-primary-subtle rounded-3 px-1 py-1"
                style="width: 375px;">

                <!-- <span class="fs-5 text-white me-2">Seus dados: </span>
                <div class="col-auto">
                    <img id="dado1" src="../static/imagens/dado/1.png" class="img-fluid me-2" alt="Imagem 1" width="30" height="30">
                </div>
                <div class="col-auto"><img id="dado2" src="../static/imagens/dado/3.png" class="img-fluid me-2" alt="Imagem 2" width="30" height="30"></div>
                <div class="col-auto"><img id="dado3" src="../static/imagens/dado/5.png" class="img-fluid me-2" alt="Imagem 3" width="30" height="30"></div> -->

            </div>

            <div id="dados_mesa"
                class="col-5 d-flex justify-content-around align-items-center text-primary-emphasis bg-dark border border-primary-subtle rounded-3 px-1 py-1"
                style="width: 375px;">

                <!-- <span class="fs-5 text-white me-2">Seus dados: </span>
                <div class="col-auto">
                    <img id="dado1" src="../static/imagens/dado/1.png" class="img-fluid me-2" alt="Imagem 1" width="30" height="30">
                </div>
                <div class="col-auto"><img id="dado2" src="../static/imagens/dado/3.png" class="img-fluid me-2" alt="Imagem 2" width="30" height="30"></div>
                <div class="col-auto"><img id="dado3" src="../static/imagens/dado/5.png" class="img-fluid me-2" alt="Imagem 3" width="30" height="30"></div> -->

            </div>

            <div id="corin_atual"
                class="col-5 d-flex justify-content-around align-items-center text-primary-emphasis bg-dark border border-primary-subtle rounded-3 px-1 py-1"
                style="width: 375px;">

                <!-- <span class="fs-5 text-white me-2">Coringa atual: </span>
                <img src="../static/imagens/dado/1.png" class="img-fluid" alt="Imagem atual" width="30" height="30">
                <span class="fs-5 text-white me-2">Não foi jogado</span> -->

            </div>

        </div>
        <div class="row justify-content-around mt-2">
            <div class="container-fluid">
                <div id="cards" class="row d-flex justify-content-evenly row no-gutters">

                    <!-- CARD DE EXEMPLO NUM 1 -->
                    <!-- <div class="col-md-2 col-sm-4 col-6 mb-1">
                        <div class="card border-primary border-4 text-bg-dark">
                            <div class="card-header">Fábio</div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center align-items-center text-center">

                                    <div class="col-md-12 mb-1">
                                        <div
                                            class="d-flex align-items-center justify-content-evenly border border-2 border-primary rounded">
                                            <div>
                                                <img src="../static/imagens/dado/6.png" class="diceImage img-fluid ms-4"
                                                    alt="Imagem 1" width="40" height="40">
                                            </div>
                                            <div class="mt-2">
                                                <h1 class="fs-3">X4</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1 opacity-50">
                                        <div class="d-flex align-items-center justify-content-evenly border rounded">
                                            <div>
                                                <img src="../static/imagens/dado/4.png" class="diceImage img-fluid ms-4"
                                                    alt="Imagem 1" width="40" height="40">
                                            </div>
                                            <div class="mt-2">
                                                <h1 class="fs-3">X6</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1 opacity-25">
                                        <div class="d-flex align-items-center justify-content-evenly border rounded">
                                            <div>
                                                <img src="../static/imagens/dado/1.png" class="diceImage img-fluid ms-4"
                                                    alt="Imagem 1" width="40" height="40">
                                            </div>
                                            <div class="mt-2">
                                                <h1 class="fs-3">X1</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
        <br>
        <div id="painel_jogada" style="display: block;">

            <div class="container-fluid text-center">
                <span class="fs-4 badge text-bg-primary text-wrap mb-3" style="width: 12rem;">É a sua vez</span>
            </div>

            <div class="container-fluid mb-3">
                <div class="d-flex justify-content-center bg-info bg-opacity-50 border border-primary rounded">
                    <!-- Dado 1 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="1">
                            <img src="../static/imagens/dado/1.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 1"
                                width="50" height="40">
                        </button>
                    </div>
                    <!-- Dado 2 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="2">
                            <img src="../static/imagens/dado/2.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 2"
                                width="50" height="40">
                        </button>
                    </div>
                    <!-- Dado 3 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="3">
                            <img src="../static/imagens/dado/3.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 3"
                                width="50" height="40">
                        </button>
                    </div>
                    <!-- Dado 4 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="4">
                            <img src="../static/imagens/dado/4.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 4"
                                width="50" height="40">
                        </button>
                    </div>
                    <!-- Dado 5 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="5">
                            <img src="../static/imagens/dado/5.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 5"
                                width="50" height="40">
                        </button>
                    </div>
                    <!-- Dado 6 -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="img-button" data-value="6">
                            <img src="../static/imagens/dado/6.png" class="img-fluid px-1 mb-1 mt-1" alt="Imagem 6"
                                width="50" height="40">
                        </button>
                    </div>
                </div>
            </div>

            <div class="container-fluid text-center">
                <div class="d-flex justify-content-center align-items-center">
                    <input id="apostar" class="btn btn-success mx-2" type="button" value="Apostar">
                    <input id="quantidade" class="form-control mx-2" type="number" placeholder="Quantidade"
                        aria-label="Quantidade" min="1" maxlength="2" style="width: 130px;" value="1">
                    <input id="desconfiar" class="btn btn-warning mx-2" type="button" value="Desconfiar" disabled>
                </div>
            </div>

        </div>
        <div id="painel_aguarde" style="display: block;">
            <span class="fs-4 badge text-bg-warning text-wrap mb-1 me-1" style="width: 16rem;">Aguarde a sua vez</span>
        </div>

    </div>
    <!-- TELA PARTIDA FIM -->
    <!-- TELA CONFERENCIA INICIO (3) -->
    <div id="tela_conferencia" class="tela_conferencia container-fluid text-center" style="display: none;">


        <div class='container'>
            <p id="texto_vitoria_derrota"
                class="text-center fs-6 fw-bold text-success-emphasis bg-primary-subtle border border-primary-subtle rounded-4">
            </p>
        </div>
        <div class='container my-4 p-3 mb-2 bg-black text-white border border-light rounded'
            style="--bs-bg-opacity: .3;">
            <h1 class="fw-bold text-primary hero">Conferência</h1>

            <div class="row d-flex justify-content-around" id="cards_conferencia">

                <!-- <div class="col-sm-3 mb-3">
                    <div class="card text-bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title">Fábio</h5>
                            <hr>
                            <div class="row d-flex justify-content-evenly">
                                <div class="row container text-center">
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                    <div class="col g-1">
                                        <img src="../static/imagens/dado/1.png" class="img-fluid px-1" alt="Imagem 1"
                                            width="40" height="40">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            
            </div>
        </div>
        <button id="bot_confe_fim" class="btn btn-primary mt-2" onclick="conferencia_final()">Ok</button>
    </div>
    <!-- TELA CONFERENCIA FIM -->
    <!-- TELA VITORIA INICIO (4) -->
    <div id="tela_vitoria" class="tela_vitoria container-fluid text-center" style="display: none;">
        <h1 class="display-4 fw-bold text-primary hero">Vitória de Fábio!!!</h1>
    </div>
    <!-- TELA VITORIA FIM -->
    </div>

    <script src="/static/script.js">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

</body>

</html>