<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dadinho</title>
    <style>
        #messages {
            border: 1px solid #ccc;
            height: 300px;
            overflow-y: scroll;
            margin-bottom: 10px;
            padding: 5px;
        }
        #userList {
            border: 1px solid #ccc;
            height: 150px;
            overflow-y: scroll;
            margin-bottom: 10px;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Jogo do Dadinho</h1>

<div>
    <h3>Escolha seu nome na partida</h3>
    <input id="usernameInput" type="text" placeholder="Digite seu nome..."/>
    <button id="setUsernameButton">Definir Nome</button>
</div>
<br>
<div id="userList">
    <strong>Jogadores Conectados:</strong>
    <div id="userListItems"></div>
</div>

<div>
    <!-- Botão "Iniciar Jogo" visível apenas para o "mestre" -->
    <a href="/jogar_dados">
        <button id="startGameButton" style="display: none;">Iniciar Jogo</button>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="/static/lobby_script.js"></script>
</body>
</html>
